<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.draw.mapper.DrawMapper">

    <insert id="insertDraw" parameterType="com.dream.entity.Draw" keyProperty="id" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO [dbo].[draw]
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="drawname != null  and drawname != ''">drawname,</if>
            <if test="drawdescribe != null  and drawdescribe != ''">[drawdescribe],</if>
            <if test="drawtime != null  and drawtime != ''">[drawtime],</if>
            <if test="goodsid != null">[goodsid],</if>
            <if test="verify != null">[verify],</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="drawname != null  and drawname != ''">#{drawname},</if>
            <if test="drawdescribe != null  and drawdescribe != ''">#{drawdescribe},</if>
            <if test="drawtime != null  and drawtime != ''">#{drawtime},</if>
            <if test="goodsid != null">#{goodsid},</if>
            <if test="verify != null">#{verify},</if>
        </trim>
    </insert>

    <select id="selectDraw" parameterType="com.dream.entity.Draw" resultType="com.dream.entity.Draw">
        select * from draw
        <where>
            1=1
            <if test="drawname != null and drawname != ''">
                and drawname = #{drawname}
            </if>
            <if test="drawdescribe != null and drawdescribe != ''">
                and drawdescribe = #{drawdescribe}
            </if>
            <if test="goodsid != null and goodsid != ''">
                and goodsid = #{goodsid}
            </if>
            <if test="verify != null and verify != ''">
                and verify = #{verify}
            </if>
        </where>
    </select>

    <select id="selectDrawById" parameterType="integer" resultType="com.dream.entity.Draw">
        select * from draw where id = #{id}
    </select>

    <update id="updateDraw" parameterType="com.dream.entity.Draw">
        update [dbo].[draw]
        <trim prefix="SET" suffixOverrides=",">
            <if test="drawname != null  and drawname != ''">drawname = #{drawname},</if>
            <if test="drawdescribe != null  and drawdescribe != ''">drawdescribe = #{drawdescribe},</if>
            <if test="goodsid != null">[goodsid] = #{goodsid},</if>
            <if test="verify != null">[verify] = #{verify},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDraw" parameterType="integer">
        delete from draw where id = #{id}
    </delete>
</mapper>